.shopping-cart-page{
    direction: rtl;
}
.shopping-cart-page .section_title{
    margin-top: 40px;
}
.product-image {
    float: right;
    width: 20%;
  }
  
  .product-details {
    float: right;
    width: 37%;
  }
  
  .product-price {
    float: right;
    width: 12%;
  }
  
  .product-quantity {
    float: right;
    width: 10%;
  }
  
  .product-removal {
    float: right;
    width: 9%;
  }
  
  .product-line-price {
    float: right;
    width: 12%;
    text-align: right;
  }
  
  /* This is used as the traditional .clearfix class */
  .group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
  .group:after,
  .shopping-cart:after,
  .column-labels:after,
  .product:after,
  .totals-item:after {
    content: '';
    display: table;
  }
  
  .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
  }
  
  .group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
  }
  
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-price::after, .product .product-line-price:after, .totals-value:after{
    content: ' ر.س ' ;
  }
  
  /* Body/Header stuff */
 
 
  
  label {
    color: #aaa;
  }
  
  .shopping-cart {
   direction: rtl; font-family: 'Cairo', sans-serif;    margin-bottom: 40px;
  }
  
  /* Column headers */
  .column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: 10px;
    text-align: center;
  }
  
  /* Product entries */
  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
  }
  .product .product-image {
    text-align: center;
  }
  .product .product-image img {
    width: 100px;
  }
  .product .product-details .product-title {
    margin-right: 20px;
    
  }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .product .product-quantity input {
    width: 70px;
    text-align: center;
    font-family: 'Cairo';
  }
  .product .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: var(--background-main-color);
    color: #fff;
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    border-radius: 3px;
  }
  .product .remove-product:hover {
    background-color: #a44;
  }
  
  /* Totals section */
  .totals .totals-item {
    clear: both;
    width: 40%;
    max-width: 300px;
    margin: 0 auto 10px;
    font-family: 'Cairo', sans-serif;
    display: flex;
    align-items: center;
  }
  .totals .totals-item label {
    float: right;
    clear: both;
    width: 79%;
    text-align: right;
  }
  .totals .totals-item .totals-value {
    float: left;
    width: 120px;
    text-align: right;

  }
  .totals .totals-item-total {
    
  }
  
  .checkout {

    border: 0;
    margin-top: 20px;
    padding: 6px 45px;
    background-color: var(--background-main-color);
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 7px;
  }
  
  .checkout:hover {
    background-color: rgb(8, 3, 140);
  }
  
  /* Make adjustments for tablet */
  @media screen and (max-width: 650px) {
    .product {
  
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .shopping-cart {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  
    .column-labels {
      display: none;
    }
  
    .product-image {
      float: left;
      width: auto;
    }
    .product-image img {
      margin: 0 0 10px 10px;
    }
  
    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    }
  
    .product-price {
      clear: both;
      width: fit-content;
    }
  
    .product-quantity {
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin: 10px;
    
    }
    .product-quantity input {
      margin-right: 7px;
    }
  
    .product-quantity:before {
      content: 'x';
    }
  
    .product-removal {
      width: auto;
    }
  
    .product-line-price {
      float: left;
      width: 70px;
    }
  }
  /* Make more adjustments for phone */
  @media screen and (max-width: 500px) {
    .product-removal {
      float: left;
    }
  
    .product-line-price {
      float: left;
      clear: left;
      width: auto;
      margin-top: 10px;
    }
  
    .product .product-line-price:before {
      content: 'المجموع: ';
    }
  
    .totals .totals-item label {
      width: 60%;
    }
    .totals .totals-item .totals-value {
      width: 40%;
    }
  }
  