section.faq_section{
    direction: rtl;     margin-bottom: 40px;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid var(--background-main-color);

}
.accordion button {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
.accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: var(--background-main-color);
    border: none;
}
.accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: var(--background-main-color);
    border: 1px solid var(--background-main-color);
}
.accordion button .accordion-title {
    padding: 1em 0 1em 1.5em;
    font-family: var(--font-family-IBM);
}
.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}
.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    right: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    right: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}
.accordion button[aria-expanded=true] {
    color: var(--background-main-color);
}
.accordion button[aria-expanded=true] .icon::after {
    width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    text-align: right;
}
@media (max-width: 768px) {
    .accordion button {

        font-size: 13px;

    }
    .accordion .accordion-content p {
        font-size: 12px;

        margin: 1em 0;

    }
    .accordion button .accordion-title {
       font-size: 13px;
    }

}
